.top-menu-container {
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 64px;
    font-weight: 700;
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .right-top-menu {
    display: flex;
    gap: 40px;
    font-size: 20px;
  }
  
  .left-top-menu {
    font-size: 32px;
  }

@media (max-width: 820px) {
    .top-menu-container{
        padding: 10px 24px;
    }
    .right-top-menu {
        gap: 20px;
    }
}