.basic-prev-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    border-radius: 32px;
    padding: 32px;
}

/* Calculator Display */
.calculator-display {
    width: 100%;
    max-width: 500px;
    height: 60px;
    background-color: #444;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.calculator-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 5px;
    width: 100%;
    max-width: 500px;
    animation: slide-in 0.8s ease-out;
    margin-right: 20px;
    margin-left: 20px;
}

/* Individual Cards */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 10px;
    height: 80px;
    width: 80px;
    text-align: left;
    text-decoration: none;
    padding: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}