/* General Layout */
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #E5E7EB;
  height: 100%;
  width: 100%;
}



/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  .App {
    height: fit-content;
  }
}
