.basic-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.basic-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

/* Calculator Container */
.device {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    justify-content: center;
    color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    width: 30%;
    max-width: 90%;
    height: 65vh; /* Height adjusts based on viewport height */
    max-height: 90%; /* Prevent it from growing too large */
}


/* Display Styling */
.display {
    display: flex;
    background-color: #333;
    color: white;
    font-size: 3rem;
    padding: 20px;
    border-radius: 10px;
    justify-content: flex-end; /* Right-align text */
    align-items: center;
    margin-bottom: 20px;
    overflow-x: auto; /* Ensure long numbers can scroll */
}

/* Button Grid */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 10px;
    margin-bottom: 10px;
}

/* Button Styling */
button {
    height: 9vh;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #444;
    color: white;
    border: none;
    transition: background-color 0.2s, transform 0.2s;
  }

@media (max-width: 820px) {
  .device {
    padding: 20px; /* Reduce padding to save space */
    margin: 10px;
    width: 80%;
    max-width: 450px;
  }
}