/* Trackulator.css */

.trackulator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #F6F8FC;
  }

  .trackulator-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  .input-history-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }

  .trackulator-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 24px;
    padding-top: 48px;
    padding-bottom: 48px;
    border-radius: 32px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 32px;
    color: #007BFF;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 80%;
    position: relative;
  }
  
  label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  select, input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #333;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; 
    appearance: none;
    padding-right: 30px; /* Add padding to the right to make space for the icon */
  }

  .input-group.s select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .input-group.s::after {
    content: '\f078'; /* FontAwesome Unicode for faChevronDown */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 72.5%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  input::placeholder {
    color: #aaa;
  }

  .executive-buttons {
    display: flex;
    gap: 12px;
  }

  .save-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .save-button:hover {
    background-color: #0056b3;
  }

  .history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 40rem;
    width: 100vw;
    background: #fff;
    padding: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
  }

  .history-section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 12px;
    margin-top: 24px;
  }

  .history-section ul {
    list-style-type: none;
    padding: 0;
  }

  .history-section li {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #f1f1f1;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 1rem;
    color: #555;
  }
