/* Imports base styling from App.css */
@import url('./App.css');

/* Container for the entire Trackulator application */
.trackulator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #F6F8FC;
}

/* Main content area for central trackulator elements */
.trackulator-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

/* Handles the layout of inputs and history content */
.input-history-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container that holds and styles the main Trackulator inputs */
.trackulator-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  max-width: 90vw;
  padding: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 32px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 32px;
  color: #333;
}

/* Base styling for input groups */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 80%;
  position: relative;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

/* User input boxes */
select, input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #333;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box; 
  appearance: none;
  padding-right: 30px; /* Add padding to the right to make space for the icon */
}

.input-group.s select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-group.s::after {
  content: '\f078'; /* FontAwesome Unicode for faChevronDown */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  right: 15px;
  top: 72.5%;
  transform: translateY(-50%);
  pointer-events: none;
}

input::placeholder {
  color: #aaa;
}

/* Style for the buttons used to calculate or clear data */
.executive-buttons {
  display: flex;
  gap: 12px;
}

.save-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  height: 64px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #0056b3;
}

/* Styles the 'history-section' containing the log of previous entries */
.history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100vw;
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
}

.history-section h2 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 900;
  margin-bottom: 36px;
}

.history-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 30rem;
  width: 100%;
}

.history-section li {
  display: flex;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

/* Styles each piece of data in the history list */
.history-data {
  width: 20%;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.sep-line-sm {
  background-color: #AAA;
  height: 2px;
  width: 100%;
}

.sep-line-xs {
  background-color: #AAA;
  height: 1px;
  width: 100%;
}

/* Container for the history's header and logs */
.history-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

/* High-level container to organize history headers */
.header {
  display: flex;
  width: 100%;
  font-weight: 700;
}

.header-item {
  width: 20%;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Layout adjustments and styling for description text */
.description {
  width: 50%
}

p {
  text-align: left;
  font-size: 1.1rem;
  line-height: 130%;
}

/* Adjusts workflow for smaller screens */
@media (max-width: 600px) {
  .executive-buttons {
    flex-direction: column;
  }

  .history-container {
    width: 80%;
  }
}

/* Adjusts widths for medium-sized screens */
@media (max-width: 1200px) {
  .sep-line {
    width: 75%;
  }

  .description {
    width: 80%;
  }
}